{% extends 'index/base.html' %}
{% load static %}
{% load mytag %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block breadcrumb %}
<!-- Content Header (Page header) -->
 <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ titre }}</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block content %}
    <!-- <div class="container-fluid"> -->
    <div class="login-page" style="background: rgb(244, 246, 249)">
    <div class="login-box" style="margin-top: -5rem">
    <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">为了修改密码请填写你的邮件或手机号</p>

      <form action="/oubile_mots/" method="post">
        <div class="input-group mb-3">
            <input type="hidden" name="date_time" value="" id="datetime_now">
          <input type="text" name="email" class="form-control" placeholder="邮箱/手机号">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
          {% csrf_token %}
        <div class="row">
          <div class="col-12">
              <div class="text-danger"> {{ message_error }}</div>
            <button type="submit" class="btn btn-primary btn-block themebackcolor">找回密码</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a href="/login/" class="themecolor">登录</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
    </div>
    </div>
{% endblock %}


{% block script %}
 <script>
     console.log(getCurrentTime())
 $("#datetime_now").val(getCurrentTime())
 function getCurrentTime() {
    var date = new Date();//当前时间
    var month = zeroFill(date.getMonth() + 1);//月
    var day = zeroFill(date.getDate());//日
    var hour = zeroFill(date.getHours());//时
    var minute = zeroFill(date.getMinutes());//分
    var second = zeroFill(date.getSeconds());//秒

    //当前时间
    var curTime = date.getFullYear() + "-" + month + "-" + day
            + " " + hour + ":" + minute + ":" + second;

    return curTime;


}

function zeroFill(i){
    if (i >= 0 && i <= 9) {
        return "0" + i;
    } else {
        return i;
    }
}
</script>
{% endblock %}